body{
    background: url(/static/imagens/imagens_catalogo/imagem_catalogo.png), black 10% / cover no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0%;
}


header{
    display: flex;
    background: rgba(217, 217, 217, 0.40);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

a{
    color: white;
    margin-right: 50px;
    font-size: 120%;
    text-decoration: none;
}

nav{
    j
}


.produto{
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    background: rgba(217, 217, 217, 0.40);
    border-radius: 10px;
}

.login{
    background-color: white;
    justify-content: end;
}

.imagem-produto{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}

.localizacao, img{
    width: 20%;
    margin: 2%;
}

select{
    display: flex;
    background: rgba(217, 217, 217, 0.40);
    color: white;
    width: 20%;
    height: 5vh;
    border-radius: 10px;
    font-size: 120%;
}

main{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    color: white;
    font-size: 120%;
}

.localizacao{
    font-weight: bolder;
    font-size: 120%;
}

form{
    display: flex;
    justify-content: end;
    margin: 5%;
}

option{
    background: rgba(217, 217, 217, 0.40);
}

button{
    color: white;
}