body{
    background: #F0F0F0;
    margin: 0;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
    border: 10px;
}

form{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#link-butao{
    width: 100%;
    text-decoration: none;
}

h2{
    display: flex;
    justify-content: center;
}

.login{
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10%;
}

.cadastrar-login{
    display: flex;
    justify-content: center;

}

#cadastre-se{
    display: inline;
    font-size: 105%;
}

#nao-login{
    font-size: 115%;
}

.lembrar_me{
    display: flex;
    align-items: center;
}

.lembrar_me input[type="checkbox"]{ 
    width: 10%;
}

.lembrar_mim{
    background-color: #000000;
}

#lembrar-user{
    width: 2.5%;
}

.logomarca{
    display: flex;
    justify-content: center;
    text-align: center;
}

#lembrar{
    display: flex;
    justify-content: center;
}

label{
    font-weight: 600;
}



input{
    width: 97%;
    height: 5vh;
    margin-top: 2%;
    border-radius: 7px;
    flex-direction: column;
    border-color: var(--1, #00265A);
    border-style: solid;
    margin-bottom: 3%;
}

#lembrar-login{
    flex-direction: none;
    width: 8%;
    height: 2vh;
}

#entrar{
    margin-left: 2%;
}

#link-termos{
    display: inline;
    justify-content: none;
    color: #000000;
    margin-top: 7%;
}

p{
    text-align: center;
    margin-top: 8%;
    font-size: 85%;
}

.click-butao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
}

.container-login{
    display: flex;
    margin-top: 0;
}

.logar, .esquecer-senha{
    flex: 1;
    width: 50%;
}

.logar input[type="checkbox"] {
    margin-right: 10px;   
}

.click-butao input[type="submit"]{
    width: 100%;
}

.logar label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logar{
    display: flex;
    position: absolute;
}

a{
    display: flex;
    justify-content: flex-end;
    color: #000000;
    margin-top: 7%;
}

.esquecer-senha{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 8.5vh;
    width: 115%;
    font-size: 125%;
    border-radius: 10px;
    border: solid;
    background: var(--1, #00265A);
}