
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <link rel="stylesheet" href="{% static 'css/catalogo.css' %}">    
</head>

<header>
    <nav>
        <a href="">Início</a>
    </nav>
    <nav>
        <a href="">Ofertas</a>
    </nav>
    <nav>
        <a href="">Mercados</a>
    </nav>

    <nav class="login">
        <a href=""><img src="/static/imagens/imagens_catalogo/logo_login.png" alt=""></a>
    </nav>
</header>

<body>
    <main>
        <div class="localizacao">
            <img src="/static/imagens/imagens_catalogo/" alt="">
            <h2>Ofertas em Destaque</h2>
            <form action="" method="get">
                <label for="">
                    <input type="text">
                </label>
                <label for="">
                    <input type="text">
                </label>
                <label for="">
                    <select name="Categoria" id="">
                        <option value="Variedade">{{form.categoria.nome}}</option>
                        <option value="Cereais">Cereais</option>
                        <option value="Frios">Frios</option>
                        <option value="Açougue">Açougue</option>
                    </select>        
                </label>
            </form>
        </div>

        <form action="categoria">
            {% csrf_token %}
            <select name="Categoria" id="">
                <option value="Variedade">{{form.categoria.nome}}</option>
                <option value="Cereais">Cereais</option>
                <option value="Frios">Frios</option>
                <option value="Açougue">Açougue</option>
            </select>
        </form>

        <div class="catalogo">
            <div class="produto 1">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="" class="imagem-produto">
                <h2>{{ form.catalogo.titulo }}</h2>
                <p>{{ form.catalogo.descricao }}</p>
                <p>{{ form.cataloogo.preco }}</p>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="" class="imagem-produto">
                <h2>Fone de</h2> 
                <p>Fone Gamer</p>
                <p>R$ 200,00</p>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="" class="imagem-produto">
                <h2>Produto 1</h2>
                <p>Descrição 1</p>
                <p>R$ 200,00</p>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="" class="imagem-produto">
                <h2>Produto 1</h2>
                <p>Descrição 1</p>
                <p>R$ 200,00</p>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="" class="imagem-produto">
                <h2>Produto 1</h2>
                <p>Descrição 1</p>
                <p>R$ 200,00</p>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/happy-young-couple-showing-peace-gesture 1.png" alt="" class="imagem-produto">
                <h2>Produto 1</h2>
                <p>Descrição 1</p>
                <p>R$ 200,00</p>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/happy-young-couple-showing-peace-gesture 1.png" alt="" class="imagem-produto">
                <h2>Produto 1</h2>
                <p>Descrição 1</p>
                <p>R$ 200,00</p>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/happy-young-couple-showing-peace-gesture 1.png" alt="" class="imagem-produto">
                <h2>Produto 1</h2>
                <p>Descrição 1</p>
                <p>R$ 200,00</p>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/happy-young-couple-showing-peace-gesture 1.png" alt="" class="imagem-produto">
                <h2>Produto 1</h2>
                <p>Descrição 1</p>
                <p>R$ 200,00</p>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/happy-young-couple-showing-peace-gesture 1.png" alt="" class="imagem-produto">
                <h1>Produto 1</h1>
                <p>Descrição 1</p>
                <p>R$ 200,00</p>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/happy-young-couple-showing-peace-gesture 1.png" alt="" class="imagem-produto">
                <h1>Produto 1</h1>
                <p>Descrição 1</p>
                <p>R$ 200,00</p>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/happy-young-couple-showing-peace-gesture 1.png" alt="" class="imagem-produto">
                <h1>Produto 1</h1>
                <p>Descrição 1</p>
                <p>R$ 200,00</p>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/happy-young-couple-showing-peace-gesture 1.png" alt="" class="imagem-produto">
                <h1>Produto 1</h1>
                <p>Descrição 1</p>
                <p>R$ 200,00</p>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/happy-young-couple-showing-peace-gesture 1.png" alt="" class="imagem-produto">
                <h1>Produto 1</h1>
                <p>Descrição 1</p>
                <p>R$ 200,00</p>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/happy-young-couple-showing-peace-gesture 1.png" alt="" class="imagem-produto">
                <h1>Produto 1</h1>
                <p>Descrição 1</p>
                <p>R$ 200,00</p>
            </div>

        </div>
    </main>
    {% endblock %}
</body>
</html>