{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modernize-se Mercado: Ofertas em Destaque</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container-cabecalho">
            <div class="logomarca">
                <img src="/static/imagens/imagens_index/Logo (1).png" alt="">
            </div>
    
            <div class="click-menu">
                <nav>
                    <a href="">Categoria</a>
                </nav>
                <nav>
                    <a href="">Sobre</a>
                </nav>
                <nav>
                    <a href="">Contato</a>
                </nav>
            </div>
    
            <div class="click-link-perfil">
                <nav>
                    <a href=""><img id="imagem-lupa" src="/static/imagens/imagens_index/search (1).png" alt=""></a>
                </nav>
                <nav>
                    <a href="http://127.0.0.1:8000/login/">Perfil</a>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="container-superior">
            <h1>As Melhores Ofertas de Mercado</h1>
            <p>Economize em produtos de qualidade</p>

            <div class="butao">
                <button>
                    <a id="butao-ver-ofertas" href="">Ver Ofertas <img id="tag-butao" src="/static/imagens/imagens_index/tag.png" alt=""></a>
                </button>
            </div>
        </div>

        <h1 id="ofertas-destaque" >Ofertas em Destaque</h1>

        <div class="catalogo-destaque">
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h1 id="titulo-produto" >Produto</h1>
                    </div>

                    <div class="local-loja">
                        <h3>Loja</h3>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto">Descrição Descrição Descrição Descrição Descrição Descrição</p>
                        <p id="preco" >R$ 0,00</p>
                    </div>
            </div>

        </div>
    </main>

    <footer>
        © 2024 Modernize-se Mercado. Todos os direitos reservados
    </footer>
</body>
</html>