{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercados Parceiros</title>
    <link rel="stylesheet" href="{% static 'css/mercados_parceiros.css' %}">
</head>
<body>
    <header>
        <div class="container-cabecalho">
            <div class="logomarca">
                <img src="/static/imagens/imagens_index/Logo (1).png" alt="">
            </div>
    
            <div class="click-menu">
                <nav>
                    <a href="">Categoria</a>
                </nav>
                <nav>
                    <a href="">Sobre</a>
                </nav>
                <nav>
                    <a href="">Contato</a>
                </nav>
            </div>
    
            <div class="click-link-perfil">
                <nav>
                    <a href=""><img id="imagem-lupa" src="/static/imagens/imagens_index/search (1).png" alt=""></a>
                </nav>
                <nav>
                    <a href="http://127.0.0.1:8000/login/">Perfil</a>
                </nav>
            </div>
        </div>
        <hr>
    </header>

    <main>
        <h2>Mercados Parceiros</h2>

        <form action="" method="post">
            <label for="">
                <input type="text" placeholder="Busque por nome, endereço ou categoria">
            </label>
        </form>
        
        <div class="catalogo-destaque">
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                           <button href="">Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>
            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

            <div class="produto">
                <img src="/static/imagens/imagens_catalogo/cena-relacionada-a-musica-em-3d_23-2151125265.avif" alt="">
                <div class="container-produto">
                    <div class="nome-produto">
                        <h2>Modernize-se Mercado</h2>
                    </div>
                </div>
                    <div class="descricao">
                        <p id="descricao-produto" ><img id="imagem-local" src="/static/imagens/imagens_marcados_parceiros/map-pin (1).png" alt="">Avenida Principal, 1000</p>
                        <p id="descricao-produto" ><img id="imagem-telefone" src="/static/imagens/imagens_marcados_parceiros/phone (1).png" alt="">(84) 99999-9999</p>
                        <h2>Categorias</h2>
                        <p id="categorias">Frutas Verduras Carnes</p>
                        <div class="butao-ver-ofertas">
                            <a id="link-ver-ofertas" href="http://127.0.0.1:8000/perfil_mercado">
                                <button>Ver Ofertas <img id="imagem-butao-ver-ofertas" src="/static/imagens/imagens_marcados_parceiros/Group 12.png" alt=""></button>
                            </a>
                        </div>
                    </div>
            </div>

        </div>
    </main>

    <footer>
        © 2024 Modernize-se Mercado. Todos os direitos reservados
    </footer>
</body>
</html>