{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas ofertas</title>
    <link rel="stylesheet" href="{% static 'css/minhas_ofertas.css' %}">
</head>
<body>
    <header>
        <div class="container-cabecalho">
            <div class="logomarca">
                <img src="/static/imagens/imagens_minhas_ofertas/Logo (1).png" alt="">
            </div>
            <div class="links-superior">
                <nav><a id="click-link" href="http://127.0.0.1:8000">Início</a></nav>
                <nav><a id="click-link" href="">Minhas Ofertas</a></nav>
                <nav><a id="click-link" href="http://127.0.0.1:8000/perfil_mercado/">Perfil</a></nav>
            </div>
        </div>
        <hr>
    </header>

    <main>
        <div class="container-ofertas">
            <div class="titulo">
                <h2>Minhas Ofertas</h2>
            </div>
 
            <div class="butao">
                <a id="butao-adicionar" href="http://127.0.0.1:8000/adicionar_ofertas/"><button>Nova Oferta <img src="/static/imagens/imagens_minhas_ofertas/plus.png" alt=""></button></a>
            </div>
        </div>

            <div class="buscar">    
                <label for="">
                    <img id="lupa" src="/static/imagens/imagens_minhas_ofertas/search (1).png" alt="">
                    <input type="text" placeholder="Busque ofertas...">
                </label>
            </div>


        <div class="container-main">
            
        <table border="1">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Categorias</th>
                    <th>Preço Atual</th>
                    <th>Preço Antigo</th>
                    <th>Quantidade</th>
                    <th>Expiração</th>
                    <th id="status">Status</th>
                    <th class="acoes">Ações</th>
                </tr>
            </thead>     
            <tbody>
                {% for oferta in ofertas %}
                <tr>
                    <td class="coluna-borda">{{ oferta.nome }}</td>
                    <td>{{ oferta.categoria }}</td>
                    <td>R$ {{ oferta.preco_atual }}</td>
                    <td>R$ {{ oferta.preco_antigo }}</td>
                    <td>{{ oferta.quantidade_disponivel }}</td>
                    <td>{{ oferta.data_expiracao }}</td>
                    <td>{{ oferta.status }}</td>
                    <td>
                        <a href="{% url 'editar_oferta' oferta.id %}"><img src="/static/imagens/imagens_minhas_ofertas/edit (1).png" alt=""></a><a href="{% url 'deletar_oferta' oferta.id %}"><img src="/static/imagens/imagens_minhas_ofertas/trash-2 (1).png" alt=""></td></a>
                </tr>
                {% endfor %}
                    <td class="coluna-borda">Maça verde</td>
                    <td>Fruta</td>
                    <td>R$ 5,99</td>
                    <td>R$ 5,99</td>
                    <td>50</td>
                    <td>10/10/2024</td>
                    <td>Ativo</td>
                    <td><a href=""><img src="/static/imagens/imagens_minhas_ofertas/edit (1).png" alt=""></a><a href=""><img src="/static/imagens/imagens_minhas_ofertas/trash-2 (1).png" alt=""></td></a>
                </tr>
                
            </tbody>
        </table>
    </main>
    
    <footer>
        © 2024 Modernize-se Mercado. Todos os direitos reservados
    </footer>
    
</body>
</html>