{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil do Mercado</title>
    <link rel="stylesheet" href="{% static 'css/perfil_mercado_editar.css' %}">
</head>
<body>
    <header>
        <div class="container-cabecalho">
            <div class="imagem">
                <img id="imagem-logo" src="/static/imagens/imagens_perfil_mercado_editar/Logo (4).png" alt="">
            </div>

            <div class="links">
                <nav><a id="link" href="http://127.0.0.1:8000/">Início</a></nav>
                <nav><a id="link" href="http://127.0.0.1:8000/ofertas/">Ofertas</a></nav>
                <nav><a id="link" href="http://127.0.0.1:8000/perfil_mercado/">Mercado</a></nav>
            </div>

            <div class="perfil">
                <a id="link" href="">Perfil</a>
            </div>
        </div>
        <hr>
    </header>

    <main>

        <div class="container-central">
            <div class="container-main">
                <h1>Editar Perfil de Mercado</h1>
                <form action="" method="post">

                    Imagem do Mercado
                    <div class="adicionar-imagens">
                        <div class="imagem">
                            <img id="imagem-mercado" src="/static/imagens/imagens_perfil_mercado/depositphotos_442179284-stock-photo-shopping-cart-packages-shelves-supermarket.jpg" alt="">
                        </div>
                        
                        <div class="link-adicionar-imagem">
                            <label id="anexar-imagem" for="">
                                <input id="input-imagem-mercado" type="image" placeholder="Escolher Arquivo">
                            </label>
                        </div>
                    </div>            

                    <div class="posicoes-colunas">
                        <div class="coluna-esquerda">
                            <label for="">Nome
                                <input type="text">
                            </label>
                            <label for="">Endereço
                                <input type="text">
                            </label>
                            <label for="">Telefone
                                <input type="text">
                            </label>
                        </div>
        
                        <div class="coluna-direita">
                            <label for="">Email
                                <input type="text">
                            </label>
                            <label for="">Website
                                <input type="text">
                            </label>
                            <label for="">Horário de Funcionamento
                                <input type="text">
                            </label>
                        </div>
                    </div>
    
                    <div class="descricao">
                        <label for="">Descrição
                            <input id="descricao" type="text">
                        </label>
                    </div>
    
                    <div class="botoes">
                        <button id="butao-1">Cancelar</button>
                        <button id="butao-2">Salvar Alterações <img id="card-butao-2" src="/static/imagens/imagens_perfil_mercado_editar/file.png" alt=""></button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
        
    </main>

    <footer>
        © 2024 Modernize-se Mercado. Todos os direitos reservados
    </footer>
</body>
</html>